.aboutMe {
    height: 724px;

    .info {
        margin: 150px auto auto auto;
        height: fit-content;
        width: fit-content;
        display: grid;
        grid-template-columns: 50% auto;

        .leftSide {
            width: 531px;

            %buttonsCommonDesign {
                cursor: pointer;
                height: 56px;
                border: none;
                font-family: 'Source Sans Pro';
                font-size: 16px;
                font-weight: 600;
            }

            .hireCv {
                display: flex;
                column-gap: 22px;

                .hireMe {
                    @extend %buttonsCommonDesign;
                    background-color: #3F3F3F;
                    color: white;
                    width: 138px;
                    transition: 1.2s;
                }

                .hireMe:hover {
                    color: #3F3F3F;
                    border: 1px solid #50505038;
                    background-color: transparent;
                }

                .downloadCv {
                    @extend %buttonsCommonDesign;
                    width: 186px;
                    color: #3F3F3F;
                    border: 1px solid #50505038;
                    background-color: transparent;
                    transition: 1.2s;
                }

                .downloadCv:hover {
                    background-color: #3F3F3F;
                    color: white;
                }
            }
        }

        .rightSide {
            position: relative;
            width: 627px;

            .skills {
                display: flex;
                column-gap: 30px;
                width: inherit;
                overflow-x: auto;

                .skill {
                    margin: 8% 0px 0px 0px;
                    width: 200px;
                    height: 200px;
                    flex: 0 0 auto;
                    background-color: #3F3F3F;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        margin: auto 0px auto 0px;
                        max-width: 50%;
                    }

                    .experience {
                        padding: 0px 0px 16px 0px;
                    }

                    span {
                        color: white;
                        font-family: 'Source Sans Pro';
                    }
                }
            }

            .skills::-webkit-scrollbar {
                background-color: transparent;
                height: 0px;
            }

            %scrollButtons {
                position: absolute;
                height: 36px;
                background-color: white;
                top: 42%;
                width: 24px;
                cursor: pointer;


            }

            .prev {
                @extend %scrollButtons;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;

                i {
                    text-align: center;
                }
            }

            .next {
                @extend %scrollButtons;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
                right: 0;
            }
        }
    }
}