header {
  width: 100%;
  height: 100vh;
  background-color: #3F3F3F;
  display: flex;
  flex-direction: column;
}
header .upperPart {
  z-index: 1;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  animation: upperPart 3s forwards ease-out;
  background-color: #3F3F3F;
  width: 100vw;
}
header .upperPart .webDevName {
  justify-self: center;
  padding: 16px 0px 16px 0px;
  position: relative;
}
header .upperPart .webDevName .LastName, header .upperPart .webDevName .firstName {
  font-size: 44px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
header .upperPart .webDevName .firstName {
  color: #FCA311;
  font-weight: 700;
}
header .upperPart .webDevName .LastName {
  color: #FFFFFF;
  font-weight: 500;
  position: absolute;
  left: 15px;
  z-index: -1;
}
header .upperPart .menu .phoneViewMenu nav li {
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 400;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  letter-spacing: 0.02em;
  padding: 0px 0px 10px 0px;
}
header .upperPart .menu .phoneViewMenu nav li:hover {
  border-bottom: 2px solid #FCA311;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  padding: 0px 0px 8px 0px;
}
header .upperPart .menu .phoneViewMenu a {
  align-self: center;
  justify-self: start;
}
header .upperPart .menu .phoneViewMenu a .resume {
  cursor: pointer;
  padding: 10px 16px 10px 16px;
  border-radius: 33px;
  border: 1px solid #FBA820;
  background-color: transparent;
  font-size: 20px;
  color: #ffb641;
  font-family: "Source Sans Pro";
  font-weight: bold;
  transition: 1s;
  height: -moz-fit-content;
  height: fit-content;
}
header .upperPart .menu .phoneViewMenu a .resume:hover {
  color: #3F3F3F;
  background-color: #FBA820;
}
@keyframes upperPart {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  20% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
header .middlePart {
  width: -moz-fit-content;
  width: fit-content;
}
header .middlePart .helloIntro {
  animation: helloIntro 2s forwards ease-out;
  font-size: 60px;
  font-weight: 700;
  font-family: "Source Sans Pro";
  color: white;
}
header .middlePart .helloIntro .name {
  color: #FBA820;
}
header .middlePart .shortStatement {
  animation: shortStatement 2s forwards ease-out;
  font-size: 18px;
  font-family: "Open Sans";
  color: white;
}
@keyframes helloIntro {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes shortStatement {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
header .middlePart .getInTouch {
  cursor: pointer;
  width: 198px;
  height: 60px;
  border-radius: 33px;
  border: 1px solid #FBA820;
  background-color: transparent;
  margin-top: 54px;
  font-size: 16px;
  color: #FFFFFF;
  font-family: "Source Sans Pro";
  transition: 1s;
  animation: getInTouch 1.5s forwards ease-in;
}
@keyframes getInTouch {
  from {
    opacity: 0;
    transform: translatey(50%);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
header .middlePart .getInTouch:hover {
  color: #3F3F3F;
  background-color: #FBA820;
}
header .bottomPart {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  list-style-type: none;
  animation: bottomPart 3s forwards ease-out;
}
header .bottomPart li {
  width: 24px;
}
header .bottomPart li img {
  cursor: pointer;
  max-width: inherit;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(290deg) brightness(101%) contrast(104%);
}
@keyframes bottomPart {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

/* Computer view */
@media (min-width: 1024px) {
  header .upperPart .menu .menuIcon {
    display: none;
  }
  header .upperPart .menu .phoneViewMenu {
    display: grid;
    grid-template-columns: auto auto;
  }
  header .upperPart .menu .phoneViewMenu nav {
    display: flex;
    -moz-column-gap: 16px;
         column-gap: 16px;
    justify-self: start;
    padding: 24px 0px 16px 0px;
  }
  header .middlePart {
    padding-top: 180px;
    margin-left: 20%;
  }
  header .middlePart .helloIntro {
    width: 375px;
  }
  header .middlePart .shortStatement {
    width: 354px;
  }
  header .bottomPart {
    margin: 100px 0px 0px 20%;
  }
}
/*phone & tablet view */
@media (max-width: 1024px) {
  header {
    width: 100vw;
  }
  header .upperPart .menu {
    padding: 0px 80px 0px 0px;
    justify-self: end;
    cursor: pointer;
    color: white;
    position: relative;
  }
  header .upperPart .menu .phoneViewMenu {
    display: none;
  }
  header .upperPart .menu .menuIcon {
    width: -moz-fit-content;
    width: fit-content;
    transition: rotate 0.5s;
  }
  header .upperPart .menu:hover .menuIcon {
    rotate: 90deg;
  }
  header .upperPart .menu:hover .phoneViewMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 0px;
    width: -moz-fit-content;
    width: fit-content;
    height: 90vh;
    padding: 40px 30px 40px 30px;
    background-color: #3F3F3F;
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: -5px 30px 7px black;
  }
  header .upperPart .menu:hover .phoneViewMenu nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 16px;
  }
  header .middlePart {
    justify-self: end;
    align-self: center;
    padding: 200px 0px 0px 0px;
    margin: 0px 24px 0px 24px;
  }
  header .middlePart .helloIntro {
    width: 95%;
  }
  header .middlePart .shortStatement {
    width: 95%;
  }
  header .bottomPart {
    margin: 100px 0px 0px 24px;
    align-self: start;
    justify-self: end;
  }
}/*# sourceMappingURL=header.css.map */