footer {

    height: fit-content;
    width: 100%;
    background-color: #252525;
    padding: 100px 0px 0px 0px;
    display: grid;
    grid-template-rows: auto auto;

    .upperPart {
        width: fit-content;
        height: fit-content;
        color: white;
        margin: 0px auto 0px auto;
        font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        span {
            text-align: center;
            font-size: 72px;
        }

        p {
            width: 60%;
            font-size: 18px;
            text-align: center;
            align-self: center;
        }

        a {
            align-self: center;

            button {

                width: 150px;
                cursor: pointer;
                justify-self: center;
                border-radius: 33px;
                font-size: 20px;
                transition: 1s;
                color: #ffb641;
                font-weight: bold;
                padding: 10px 16px 10px 16px;
                border: 1px solid #FBA820;
                font-family: 'Source Sans Pro';
                background-color: transparent;
            }

            button:hover {
                color: #3F3F3F;
                background-color: #FBA820;
            }
        }

    }

    .lowerPart {
        width: 70%;
        height: 50px;
        border-top: 1px solid #3E3E3E;
        margin: 0px auto 30px auto;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;

        .copyright {
            justify-self: start;
            color: #ABABAB;

            .brand {
                color: white;
            }
        }

        .socialMedia {
            justify-self: end;
            display: flex;
            column-gap: 10px;
            list-style-type: none;
            img{
                width: 20px;
                height: fit-content;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(290deg) brightness(101%) contrast(104%);
            }
        }

        align-self: end;

    }
}

@media (max-width:1024px) {
    footer {
        .lowerPart {
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            padding-bottom: 30px;
            justify-content: center;
        }
    }
}